* {
  box-sizing: border-box;
  /* Da div ne menja velicinu, 
  vec ako je potrebno da se smanje elementi unutar div-a */
}
body {
  margin: 0px;
  overflow-x: hidden;
}
.emptyDiv {
  width: 100vw;
  height: 9vh;
  z-index: -100;
}
.emptyDiv1 {
  width: 100vw;
  height: 1px;
  z-index: -100;
}
.linkA {
  text-decoration: none;
}
.navigacija {
  background-color: black;
  width: 100vw;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
}
.logo {
  font-size: 32px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-family: sans-serif;
  margin-right: 15%;
}
.listaNavigacija {
  width: 40%;
  height: 100%;
  /* background-color: red; */
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10%;
}
.listaNavigacijaText {
  cursor: pointer;
  color: rgb(187, 176, 176);
  font-size: 15px;
  font-family: sans-serif;
}
.home {
  width: 100vw;
  height: 91vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed;
}
.homeTitle {
  font-size: 50px;
  color: white;
  margin-bottom: -15px;
}
.homeSubtitle {
  color: rgb(219, 208, 208);
  font-size: 25px;
}
.homeButton {
  width: 180px;
  height: 40px;
  border: 2px white solid;
  border-radius: 5px;
  background-color: transparent;
  color: rgb(202, 199, 199);
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
}
.about {
  width: 100vw;
  height: 91vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}
.aboutImg {
  width: 42%;
  height: 80%;
}
.imgAbout {
  width: 100%;
  height: 100%;
}
.aboutContainer {
  width: 43%;
  height: 80%;
  /* background-color: blueviolet; */
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.aboutMiniContainer {
  width: 100%;
  height: 20%;
  display: flex;
  /* background-color: red; */
}
.aboutIcon {
  width: 10%;
  height: 100%;
  /* background-color: blue; */
}
.aboutMiniIcon {
  width: 100%;
  height: 50%;
}
.aboutMiniText {
  display: flex;
  flex-direction: column;
}
.aboutTitle {
  font-size: 40px;
  font-weight: 300;
  margin: 0px;
}
.aboutText {
  font-size: 20px;
  margin-top: -15px;
}
.aboutMiniSubtitle {
  font-size: 25px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 7px;
  margin-left: 10px;
}
.aboutMiniMiniText {
  font-size: 20px;
  color: rgb(158, 149, 149);
  margin-top: 0px;
  margin-left: 10px;
}
